#pagina{
    font-family: tahoma, arial, sans-serif;
    text-align: center;
    width: 1024px;
    margin: auto;
}
header{
    display:inline-block;
}
.cabeca-branca{
    background-color: rgb(16, 69, 100);
    width:1024px;
    height:50px;
}
.cabeca-branca nav ul{
    text-align: right;
    margin: 50px 50px 0 0;
    margin-left: 20px;
    padding: 15px;
}
.cabeca-branca nav ul li{
    list-style: none;
    display: inline-block;
    font-weight: 9;
}
a{
    display: block;
    color: rgb(105, 105, 151);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    margin-left: 15px;
    transition: color .3s linear;
}
a:hover{
    color:aliceblue;
    
}
.cabeca-branca img{
    display: block;
    position: relative;
    top: -40px;
    margin-left: 135px;
    text-align: left;
}
.portifolio{
    text-align: center;
    line-height: 30px;
}
.portifolio h2{
    font-size: 30px;
    font-weight: 900;
}
.galeria{
    background-color: transparent;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;;
    overflow: auto;
    text-align: center;
}
.foto{
    width: 32%;
    float: left;
    box-sizing: border-box;
  }
.foto1, .foto2{
    margin-right: 2%;
}
.sobre{
    display: inline-block;
    background-image: url(/ProjetoFashion_inicio/imagens/bg_detalhe.png);
    background-position: right bottom;
    background-size: cover;
    color:white;
    width:1024px;
    height:488px;
    text-align: left;
}
.sobre h1{
    font-size: 48px;
    font-weight:lighter;
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 70px;
}
.sobre p{
    font-size: 18px;
    margin-right: 400px;
    margin-left: 100px;
}
.contato h4{
    color:rgb(16, 69, 100);
    font-weight: 900;
    font-size: 25px;
    line-height: 5px;
}
.sobre iframe{
    margin-bottom: 15px;
}
footer{
    background-color:rgb(16, 69, 100) ;
    color: white;
    padding: 15px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 9;
}

